#global project path
export PROJECT_DIR=`pwd`

#path to gcloud credentials
export GOOGLE_APPLICATION_CREDENTIALS="/home/nerd/.credentials/gcloud_habdash_creds.json"

#set secrets
export SSL_KEY=`gcloud secrets versions access latest --secret=SSL_KEY`
export SSL_CERT=`gcloud secrets versions access latest --secret=SSL_CERT`
export DB_HOST=`gcloud secrets versions access latest --secret=DB_HOST`
export DB_USER=`gcloud secrets versions access latest --secret=DB_USER`
export DB_PASSWORD=`gcloud secrets versions access latest --secret=DB_PASSWORD`
export DB_NAME=`gcloud secrets versions access latest --secret=DB_NAME`
export DB_USER_TABLE=`gcloud secrets versions access latest --secret=DB_USER_TABLE`
export DB_COOKIE_TABLE=`gcloud secrets versions access latest --secret=DB_COOKIE_TABLE`