.text-box{
    text-align: center;
    background-color:white;
    margin: 10px;
    border-style:solid;
    border-width: 1px;
    border-color: #f3f3f3;
    border-radius: 2px;
}

.text-banner{
    margin: 20px;
    padding-top: 20px;
}