

body {
    background-color:  	rgb(250,250,250); 
    height: 100%;
    position: relative;
}

html {
    height: 100%;
}

#wrap {
    min-height: 100%;
}
  
#main {
    overflow:auto;
    padding-bottom: 60px; /* this needs to be bigger than footer height*/
    min-width: 100%;
}
  
.footer {
    margin-top: -53px; /* height of the footer*/
    background-color: #3e3f3a;
    color: whitesmoke;
} 

.content-wraper {
    margin-top: 20px;
}

.required {
    color: red;
}

.text-box{
    text-align: left;
    background-color:white;
    margin: 10px;
    border-style:solid;
    border-width: 1px;
    border-color: #f3f3f3;
    border-radius: 2px;
}


