<div class="container-fluid" style="min-height: 100%;">
        <div style="min-height: 10px;" class="row">
        </div>

        <div class="row" >
            <div class="col-xl-2 mt-md-0 mt-3">
            </div>
            <div class="col-xl-8 mt-md-0 mt-3 d-flex">
                <h4>Your Flights:</h4>
            </div>
            <div class="col-xl-2 mt-md-0 mt-3">
            </div>
        </div>

        <div class="row">
            <div class="col-xl-2 mt-md-0 mt-3">
            </div>
            <div class="col-xl-8 mt-md-0 mt-3 d-flex justify-content-center ">
                    <div id="main-body" style="width: 100%;"></div>
            </div>

            <style>
                .flight-article:hover {
                    box-shadow: 0px 0px 6px#E0E0E0;
                }
                .flight-article {
                    background-color: white;
                }
            </style>
            <div class="col-xl-2 mt-md-0 mt-3">
            </div>
        </div>

</div>