<div class="container-fluid" style="min-height: 100%;">
    <% if (data.flight_exists) { %>
        <div style="min-height: 10px;" class="row">
        </div>

        <div class="row">
            <div class="col-xl-2 mt-md-0 mt-3">
                <h4>Latest Telemetry</h4>
                <div id="telem_table"></div>
                <div id="last_update"><small>Last updated: <span id="last_update_value"> </span></small> </span></div>
            </div>
            <div class="col-xl-8 mt-md-0 mt-3 d-flex justify-content-center ">
                <div id="map" style="width:1536px; height: 864px; max-width:100%; max-height: 80vh;"></div>
            </div>
            <div class="col-xl-2 mt-md-0 mt-3">
                <div id="graphs"><small>Loading charts... <span id="last_update_value"> </span></small> </span></div>
            </div>
        </div>

        <div class="row">
            <div class="col-xl-2 mt-md-0 mt-3">
            </div>
            <div class="col-xl-8 mt-md-0 mt-3">
            </div>
            <div class="col-xl-2 mt-md-0 mt-3">
            </div>

        </div>

      
    <% } else {%>
        <p>Not such flight exists. Be the one to create it:</p>
        <a href="/add-flight" class="btn btn-warning" role="button" >Create New Flight</a>
    <% } %>
</div>