<div class="container-fluid" style="min-height: 100%;"> 
    <div class="row">
        <div class="text-banner">
            <div class="col-md-12 mt-md-0 mt-3">
                <h1>Welcome to HABDash!</h1>
            </div>

        </div>
        

    </div>
    
    <div class="row">
  
        <div class="col-md-4 mt-md-0 mt-3">
            <div class="text-box">
                <div style="padding: 10px;">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras dictum ipsum euismod sem dictum, et pellentesque ante condimentum. Donec quis dignissim ante. Proin nulla nibh, ullamcorper ut velit vel, 
                    vestibulum finibus enim. Nullam ornare dictum felis vitae condimentum. Donec malesuada mattis tortor, vel convallis magna volutpat non. Donec mollis, nulla vel eleifend ornare, mi orci ultricies justo,
                     vel tempor tellus mauris vitae augue. Nulla facilisi. Maecenas blandit suscipit nibh id pulvinar. Etiam et ultrices mauris. Vestibulum nec feugiat enim, eget convallis ipsum. Nunc est purus, elementum 
                     non pretium eu, cursus ac nunc. Pellentesque quis est in sem vehicula facilisis eget id dolor. Etiam sodales laoreet finibus.
                </div>
              </div>
        </div>
        <div class="col-md-8 mt-md-0 mt-3">
            <div class="row">
                <div class="col-md-12 mt-md-0 mt-3">
                    <div class="text-box">
                        <div style="padding: 10px;">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            Adipiscing at in tellus integer feugiat scelerisque varius morbi. Metus aliquam eleifend mi in nulla posuere. Egestas integer
                            eget aliquet nibh praesent. Porta nibh venenatis cras sed. Tempus imperdiet nulla malesuada pellentesque elit.
                        </div>
                    </div>

                </div>
            </div>

            <div class="row">
                <div class="col-md-12 mt-md-0 mt-3">
                    <div class="text-box">
                        <div style="padding: 10px;">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                            At lectus urna duis convallis convallis tellus id. Massa eget egestas purus viverra accumsan. Mauris nunc congue nisi vitae suscipit tellus mauris. Proin sed libero enim sed faucibus. 
                            Non curabitur gravida arcu ac. Vitae congue mauris rhoncus aenean. Sed viverra ipsum nunc aliquet bibendum. Neque ornare aenean euismod elementum nisi quis. Ullamcorper a lacus vestibulum sed. 
                            Aliquet eget sit amet tellus cras adipiscing enim eu turpis. Mattis nunc sed blandit libero volutpat sed. Pretium viverra suspendisse potenti nullam. Amet justo donec enim diam vulputate ut. 
                            Diam sit amet nisl suscipit adipiscing bibendum.
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 mt-md-0 mt-3">
                    <div class="text-box">
                        <div style="padding: 10px;">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                            Adipiscing diam donec adipiscing tristique risus nec feugiat. Amet commodo nulla facilisi nullam vehicula. 
                            Amet consectetur adipiscing elit pellentesque habitant morbi tristique senectus et. Non enim praesent elementum facilisis. 
                            Libero id faucibus nisl tincidunt. Elementum nisi quis eleifend quam adipiscing vitae proin sagittis nisl. Imperdiet massa tincidunt nunc pulvinar sapien et ligula. 
                            Dis parturient montes nascetur ridiculus mus mauris vitae ultricies leo. Sit amet consectetur adipiscing elit ut aliquam purus sit.
                        </div>
                    </div>

                </div>
            </div>
           
        </div>

    </div> 
     
</div>
