    <div class="container-fluid" style="min-height: 100%;"> 
    <div class="row">
        <div class="text-banner">
            <div class="col-md-12 mt-md-0 mt-3">
                <h1>Welcome to HABDash!</h1>
            </div>

        </div>
        

    </div>
    
    <div class="row">
  
        <div class="col-md-5 mt-md-0 mt-3">
            <div class="text-box">
                <div style="padding: 10px;">
                    <p style="font-size: large;">
                    HABDash is a platfom for visualising data from your High Altitude Balloon flights. HABDash provides a simple api 
                    for uploading your flight data and gives you power to configure how that data shoould be presented.
                    </p>
                    <p style="font-size: large;">
                    You can add, remove and edit your flights through your dashboard, and many more featrues are coming soon!
                    <br>
                    <br>
                    Each flight has its own dedicated page which can be configured with a single json file.
                    <br>        
                    The platform is design to scale well on mobile devices, so you can monitor your flights in the fields and on the go.
                    </p>
                </div>
              </div>
        </div>
        <div class="col-md-7 mt-md-0 mt-3">
            <div class="row">
                <div class="col-md-12 mt-md-0 mt-3">
                    <div class="text-box">
                        <div style="padding: 10px;">
                            <h4><u>First time here?</u></h4>
                            <p style="font-size: large;">
                                First time here? Creating your flight only takes 5 minutes!
                                Follow the <a href="https://github.com/Eugene-Levinson/HABDash/wiki/Getting-Started">get started guide</a> to get started.
                            </p>
                        </div>
                    </div>

                </div>
            </div>

            <div class="row">
                <div class="col-md-12 mt-md-0 mt-3">
                    <div class="text-box">
                        <div style="padding: 10px;">
                            <h4><u>Early Beta!</u></h4>
                            <p style="font-size: large;">
                                HABDash was started as an A-Level Computer Science coursework and is currently in its early beta.
                                We are working hard to add more features and improve the user experience.
                                If you find any bugs or have any suggestions, please raise an issue on our <a href="https://github.com/Eugene-Levinson/HABDash">github page.</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 mt-md-0 mt-3">
                </div>
            </div>
           
        </div>

    </div> 
     
</div>
