<div class="container-fluid" style="min-height: 100%;">
    <form action="/login" id="login_form" method="POST"> 
        <style>
            
        </style>  
        
        <div class="row">
            
            <div class="col-md-4 mt-md-0 mt-3"></div>
            
            <div class="col-md-4 mt-md-0 mt-3">
                <div class="content-wraper" style=" margin: 20px;">
                    <h3>Sign In To Your HABDash Account</h3>

                    <div class="form-group">
                        <label for="emailInput">Email address</label> <span class="required">*</span>
                        <input name="email" type="email" class="form-control" id="emailInput"  placeholder="Enter your email">
                    </div>

                    <div class="form-group">
                        <label for="passwordInput">Password</label> <span class="required">*</span>
                        <input name="password"  type="password" class="form-control" id="passwordInput"  placeholder="Enter your Password">
                    </div>
                    

                    <div class="form-check">
                        <input name="rm" class="form-check-input" type="checkbox" value="" id="rem_me">
                        <label class="form-check-label" for="rem_me">Remember me</label>
                    </div>
                    
                    <button onclick="verify_input()" type="button" class="btn btn-success" style="margin-top: 10px;">Sign In</button>
                    <p style="margin-top: 2vh;">Don't have an account? Register <a href="/register">here</a> </p>
                   

                </div>
                
            </div>


            <div class="col-md-4 mt-md-0 mt-3"></div>
        </div>
    </form>
</div>