<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="/">HABDash</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item <% if (data.current == 'home') { %> <%= 'active' %>    <% }%>">
          <a class="nav-link" href="/">Home
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item <% if (data.current == 'dashboard') { %> <%= 'active' %>    <% }%>">
          <a class="nav-link" href="/dashboard">Dashboard</a>
        </li>
      </ul>

      <ul class="navbar-nav ml-auto">
        <li class="nav-item" style="margin-top: 5px; margin-bottom: 5px; margin-right: 5px;">
          <script type='text/javascript' src='https://storage.ko-fi.com/cdn/widget/Widget_2.js'></script><script type='text/javascript'>kofiwidget2.init('Support Us on Ko-fi', '#795bc4', 'O5O471ZV3');kofiwidget2.draw();</script> 
        </li>
      </ul>
      
      <% if (!data.authenticated) { %>
        <div>
            <a href="/login" class="btn btn-primary" role="button">Sign In</a>
            <a href="/register" class="btn btn-primary" role="button">Register</a>
        </div>
      <% } else {%>
        <div class="btn-group">
          <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" data-display="static" aria-haspopup="true" aria-expanded="false" style="background-color: #5cb85c;">
            Account
          </button>
          <div class="dropdown-menu dropdown-menu-lg-right">
            <h6 class="dropdown-header" style="color: #5e5e5c">Signed in as 
              <br> 
              <b><%= data.user_data.first_name%> <%= data.user_data.last_name%></b>
            </h6>
            <div class="dropdown-divider"></div>
            <button class="dropdown-item" type="button" style="color: #3e3f3a">Your Profile</button>
            <div class="dropdown-divider"></div>
            <button onclick="logout()" class="dropdown-item" type="button" style="color: red;">Sign Out</button>
          </div>
        </div>
      <% } %>
    </div>
  </nav>