<div class="container-fluid" style="min-height: 100%;">
    <form action="/register" name = "register_form" id="register_form" method="POST"> 

        
        <div class="row">
            
            <div class="col-md-3 mt-md-0 mt-3"></div>
            
            <div class="col-md-6 mt-md-0 mt-3">

                <div class="content-wraper">
                    <div id="alerts"></div>
                    <h3>Create a HABDash Account</h3>
                    <div class="form-group">
                        <label for="nameInput">First Name</label> <span class="required">*</span>
                        <input name="name" type="text" class="form-control" id="nameInput"  placeholder="Enter your first name">
                    </div>

                    <div class="form-group">
                        <label for="nameInput">Last Name</label> <span class="required">*</span>
                        <input name="surname" type="text" class="form-control" id="surnameInput"  placeholder="Enter your last name">
                    </div>

                    <div class="form-group">
                        <label for="emailInput">Email address</label> <span class="required">*</span>
                        <input name="email" type="email" class="form-control" id="emailInput"  placeholder="Enter your email">
                    </div>


                    <div class="form-group">
                        <label for="passwordInput">Password</label> <span class="required">*</span>
                        <input name="password" oninput="check_if_passwords_match()" type="password" class="form-control" id="passwordInput"  placeholder="Enter your Password">
                    </div>

                    <div class="form-group">
                        <label for="password2Input">Confirm Password</label> <span class="required">*</span>
                        <input name="password2" oninput="check_if_passwords_match()" type="password" class="form-control" id="password2Input"  placeholder="Confirm your Password">
                        <small style="visibility: hidden; margin-top: 4px;" id="pwd-match-text">Passwords don't match</small>
                    </div>

                    <button onclick="verify_input()" type="button" class="btn btn-success" style="margin-top: 10px;">Register</button>
                    <p style="margin-top: 2vh;">Already have an account? Sign In <a href="/login">here</a> </p>

                </div>
                
            </div>


            <div class="col-md-3 mt-md-0 mt-3"></div>
        </div>
    </form>
</div>